<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href=/styles/backOffice.css />
    <link rel="stylesheet" href="/styles/style.css" />

    <title>Document</title>
  </head>
  <body>
    <%- include('../../components/header.ejs') %>
    <main class="updateUser">
      <h2>
        Mise à jour de l'historique du <%= `${detailsHistoric.date}` %>
      </h2>

      <% if(successUpdateHistoric) %>
      <p><%= successUpdateHistoric %></p>

      <form class="connect" action="/historics/<%= detailsHistoric._id %>/update?_method=PUT" method="POST">
    

        <div>
           <input type="date" id="date" name="date" required value="<%= detailsHistoric . detailsHistoric.twitch : '' %>">
           <label for="date">
              Dates
           </label>
        </div>

        <div>
           <input type="number" id="amount" name="amount" minlength="1" required value="<%= detailsHistoric . detailsHistoric.twitch : '' %>">
           <label for="amount">
              Montant
           </label>
        </div>

        <div>
           <input type="text" id="associations"  name="associations" minlength="1" required value="<%= detailsHistoric . detailsHistoric.twitch : '' %>">
           <label for="associations">
              Associations
           </label>
        </div>

        <button class="create-historic-submit">
           Ajouter
        </button>

        <a href="/historics">Revenir à la liste des historiques</a>
             
</form>
      <%- include('../../components/logout.ejs') %>
    </main>
    <%- include('../../components/footer.ejs') %>
    <script src="/scripts/burger.js"></script>
    <script
      src="https://kit.fontawesome.com/a00d3e0d3e.js"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/header.js"></script>
  </body>
</html>