<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Caveat&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="listMenu">
      <a href="">Dashboard</a>
      <a href="">Ajouter unutilisateur</a>
    </div>
    <main class="listUser">
      <h2>Liste des utilisateurs</h2>
      <% if(successDeleteUser) { %>
      <p><%= successDeleteUser %></p>
      <% } %> <% if(users) { %>
      <table>
        <% users.forEach(user => { %>
        <tr>
          <td data-label="Nom">
            <a href="/users/<%= user._id %>">
              <%= user.lastname %> <%= user.firstname %>
            </a>
          </td>
          <td data-label="email"><%= user.email %></td>
          <td data-label="Action">
            <a href="/users/<%= user._id %>/update">Modifier</a>
          </td>
          <td data-label="Action">
            <a href="/users/<%= user._id %>/delete">Supprimer</a>
          </td>
        </tr>
        <% }) %>
      </table>
      <% } %>
    </main>
    <script src="/scripts/burger.js"></script>
  </body>
</html>
