<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../../components/header.ejs') %> <% if(successUpdateUser) %>
    <p><%= successUpdateUser %></p>

    <main class="createUser">
      <h2>Mise à jour d'un utilisateur</h2>
      <form
        action="/users/<%= detailsUser._id %>/update?_method=PUT"
        method="POST"
      >
        <div>
          <label for="lastname">Nom</label>
          <input
            type="text"
            id="lastname"
            name="lastname"
            value="<%= detailsUser ? detailsUser.lastname : '' %>"
          />
        </div>
        <div>
          <label for="firstname">Prénom</label>
          <input
            type="text"
            id="firstname"
            name="firstname"
            value="<%= detailsUser ? detailsUser.firstname : '' %>"
          />
        </div>
        <div>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            value="<%= detailsUser ? detailsUser.email : '' %>"
          />
        </div>
        <button>Modifier</button>
      </form>
    </main>
    <%- include('../../components/footer.ejs') %>
    <script src="/scripts/burger.js"></script>
  </body>
</html>
